<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372700588298-2d6qmtvr9tm3tu5on7i4p2ri03jnpabt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372700588298-2d6qmtvr9tm3tu5on7i4p2ri03jnpabt</string>
	<key>API_KEY</key>
	<string>AIzaSyCMiVhWryFPgZ1wuRU9CTm-v2pfaReSpPw</string>
	<key>GCM_SENDER_ID</key>
	<string>372700588298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamifysocialmedia.GamifySocialMedia</string>
	<key>PROJECT_ID</key>
	<string>gamify-150f4</string>
	<key>STORAGE_BUCKET</key>
	<string>gamify-150f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372700588298:ios:775610d03c85c6d187b2f3</string>
</dict>
</plist>